.gallery-title
{
    font-size: 46px;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 60px;
    border-bottom: 1.5px solid rgb(140, 150, 206);
}
.filter-button
{
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color:white;
    margin-bottom: 30px;
    margin-top: 5px;
    transition: all .5s ease;

    &:hover
{   
    background-color: white;
    color: black;
    border: 1px solid black ;
}
}


.port-image
{
    width: 100%;
}

img{
    border-radius: 8px;
}

.gallery_product
{   
    margin-bottom: 30px;
    &:hover{
        transition: all .4s ease;
        transform: scale(1.1);
    }
}
.subtitle{
    margin:30px;
    color: grey;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.selected{
    background-color: white;
    color: black;
    border: 1px solid black ;
}